.icon-scroll,
.icon-scroll:before
{  position: absolute;
  left: 50%}

.icon-scroll
{  width: 40px;
  height: 70px;
  margin-top:8rem;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px}

.icon-scroll:before
{  content: '';
  width: 8px;
  height: 8px;
  background: #fafafa;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation: scroll 1s infinite;
}

@keyframes scroll{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(46px);
    }
}